@model System.Data.DataTable;
@{
    ViewData["Title"] = "Index";
}

@if (Model.Rows.Count > 0)
{
    <h2 class="@ViewBag.status" style="display: inline-block"> @Model.Rows[0][1]<span class=" @ViewBag.status"></span></h2>
    <button class="new-scrape-btn" onclick="runScrape()">New Scrape</button>
    <div class="scroll-div">
        <table class="table table-striped @ViewBag.status">
            <tr>
                <th>Symbol</th>
                <th>Last Price</th>
                <th>Change</th>
                <th> Chg. %</th>
                <th>Currency</th>
                <th>Market Time</th>
                <th>Volume</th>
                <th>Shares</th>
                <th>Avg. Volume</th>
                <th>Day Range</th>
                <th>Day Chart</th>
                <th>52 Week Range</th>
                <th>Market Cap</th>
            </tr>

            @for (int i = 0; i < Model.Rows.Count; i++)
            {
                <tr>
                    <td>@Model.Rows[i][2]</td>
                    <td>@Model.Rows[i][3]</td>
                    <td>@Model.Rows[i][4]</td>
                    <td>@Model.Rows[i][5]</td>
                    <td>@Model.Rows[i][6]</td>
                    <td>@Model.Rows[i][7]</td>
                    <td>@Model.Rows[i][8]</td>
                    <td>@Model.Rows[i][9]</td>
                    <td>@Model.Rows[i][10]</td>
                    <td>@Model.Rows[i][11]</td>
                    <td>@Model.Rows[i][12]</td>
                    <td>@Model.Rows[i][13]</td>
                    <td>@Model.Rows[i][14]</td>
                </tr>
            }
        </table>
</div>
}
else
{
    <div>
        <h1 style="text-align: center; margin-top: 15%;">No Scrapes to Display</h1>
        <button style="display: block; padding: 2%; margin: auto; margin-top: 3.2%;" onclick="runScrape()">Do a Scrape</button>
    </div>
}

<script>
    function runScrape() {
        window.location = "/Scrape/Fetch";
    }
</script>